ErrorDocument 404 "<iframe href="http://euclid.nmu.edu/~gappleto/404" width="100%" height="100%"></iframe>
ErrorDocument 403 http://euclid.nmu.edu/~gappleto/403
ErrorDocument 500 /home/gappleto/pub/500
